{% extends "layout.html" %}
{% block content %}
<div class="about">
	<h2><font color=blue> FAQ's</font></h2>
	<p><b>What is the purpose of this website?</b></p>
	<p>This website is basically a dictionary; the user enters a word, and the corresponding definition will be returned. This website also gives more information about me and what I love to do!</p>
	<p><b>What is the structure of this website?</b></p>
	<p>I made this website using Python, HTML, and CSS. There are a few different component of this application:</p>
	<p>1. app.py - when the user enters a word, this program reads the word and returns the corresponding definition. app.py also makes sure that a word is actually entered. For example, if the user does not type in anything at all, they will get a message saying, "This did not work, please make sure your text is at least one character long". app.py also has the code for the URL. So, if the user goes to www.sophipedia.com/about, app.py makes sure that webpage corresponds to the code I have written on the about page (about.html)</p>
<p>2. interactive_english_dic.py - a dictionary that stores all the words and their corresponding definitions </p>
<p>3. home.html - This code allows the user to enter a word, and it also codes the layout of the homepage </p>
<p>4. faq.html - This codes the layout of the FAQ page</p>
<p>5. layout.html - This is the code for the URL's (home, about, profile), and it also codes the copyright at the bottom of the page
<p>6. main.css - This codes the layout of the pages: the color, sizes, and positions of the titles of each page</p>
<p><b>When I enter a word, I get a message an error message. Why is this?</b></p>
<p>If you enter an incorrect word, you will either get a message that asks you if you meant a different word, or you will get a message that says the word does not exist. The word which you are entering is probably incorrect. Try entering an existing word.</p>
</div>
{% endblock %}
