{% extends "layout.html" %}
{% block content %}
<div class="about">
	<h2><center>My Interests</center></h2>
	<p>My name is Sophia, and I am in eighth grade. I have many interests: </p>
	<p>1. Public Speaking - I am very passionate about public speaking. I started public speaking when I was in third grade, and participated in an online speech program. Last year at Fay, I was one of ten Upper School speech finalists, selected from 250 students. I want to continue public speaking and debating in high school. Click <a href="https://youtu.be/Dug-n78wTGw">here</a> to see a video of my Upper School final speech.</p>
	<p>2. Egyptian Hieroglyphs - I love the Egyptian Civilization, and I have been learning Hieroglyphs for a year. Ever since I visited Egypt when I was very little, I have been fascinated with Egyptian hisroty, which is why I decided to learn Hieroglyphs. I would love to start a Hieroglyphs club in high school, and share this amazing language with my peers.</p>
	<p> 3. Golf - I have been playing golf since I was 7, and I love the sport. I play for the New England PGA Jr, and over the years, I have won many medals. I play for my school team in the fall, and I also participate in various tournaments during the summer.</p>
	<p>4. Coding - I am very interested in coding and science in general, which is why I created this website. I have been learning Python programming for about a year now, and it is something that I definitely want to continue learning.</p>
	<p>5. I have been fencing for about 5 years now, and it is one of my hobbies. I fence a lot in the summer, and it is something that I really enjoy doing.</p>
	<p>6. I have been skiing ever since I was a little kid. ALthough I do not ski competetively, I really love to ski in the winter as much as I can, especially with my friends.</p>
</div>
{% endblock %}
