{% extends "layout.html" %}
{% block content %}
<div class="about">
	<h2><center>My Interests</center></h2>
	<p>My name is Sophia, and I am a senior at Phillips Exeter Academy. I have many interests: </p>
	<!-- <p>1. Public Speaking - I am very passionate about public speaking. I started public speaking when I was in third grade, and participated in an online speech program. Last year at Fay, I was one of ten Upper School speech finalists, selected from 250 students. I want to continue public speaking and debating in high school. Here is a video of my Upper School final speech: </p>
	<body>
		<iframe src="http://www.youtube.com/embed/Dug-n78wTGw"
   width="560" height="315" frameborder="0"></iframe>
 	</body>
	<p>If the video above does not work in your browser, please click <a href="https://youtu.be/Dug-n78wTGw" target="_blank">here</a> </p> -->
	<p>1. Egyptian Hieroglyphs - I love the Egyptian Civilization, and I have been learning Hieroglyphs since I was in middle school - so, for over 5 years. I now teach hieroglyphs to kids, have started an Ancient Egypt Club at PEA, hosted a podcast and a TV show. You can find more information about my hieroglyphs work here:</p>

	<p><a href="http://www.exonianpharaoh.com">The Exonian Pharaoh</a></p>

<!--   <body>
     <img src="https://www.symbiosiscoaching.com/hieroglyphs.png" alt="My Hieroglyphs Work" width="571" height="749">
     <img src="https://www.symbiosiscoaching.com/hieroglyphs2.jpg" alt="My Hieroglyphs Examples" width="571" height="749">
   </body> -->
 

	<p> 2. Golf - I have been playing golf since I was 7, and I am currently in the Phillips Exeter Varsity team. I also play in the New England PGA Jr tournaments. I play for my school team in the fall, and I also participate in various tournaments during the summer.</p>
	<p>3. Coding - While my main interest in in the biological sciences, I am interested in coding as well, and that interest led me to learn Python and create this website. I think that in this technology driven world, everyone should be exposed to some level of coding, whether that will eventually be part of their career or not. I also believe that learning to code allows me to develop logical thinking and analytical skills.</p>
	<p>4. Fencing - I have been fencing for about 5 years now, and it is one of my hobbies. I fence mostly in the summer, and I love it! I am a foil fencer, and I really like how fencing helps me improve my mental focus and reflexes.</p>
	<p>5. Skiing - I have been skiing ever since I was in elementary school. Although I do not ski competetively, I really love to hit the slopes in the winter with my friends as much as I can.</p>	
</div>
{% endblock %}
