{% extends "layout.html" %}
{% block content %}
<div class="about">
	<h2><center>My Interest</center></h2>
	<p>My name is Sophia, and I am in eighth grade. I have many interests: </p>
	<p>1. Coding - I am very interested in coding and science in general, which is why I created this website. I have been learning Python programming for about a year now, and it is something that I definitely want to continue. </p>
	<p>2. Egyptian Hieroglyphs - I love the Egyptian Civilization, and I have been learning Hieroglyphs for about a year now. I know that most high schools do not offer Hieroglyphs, so starting a club is something that I would love to do, because I want to gove other kids the opportunity to learn the language.</p>
	<p> 3. Golf - I have been playing golf since I was 7, and I love the sport. I play for the New England PGA Jr, and over the years, I have won many medals. I mostly participate in competitions over the summer, but I do play for my school intra-mural team in the fall. 
</div>
{% endblock %}
